@model IEnumerable<Dental_lab_Application_MVC_.Models.Dtos.AppointmentDto>

@{
    ViewData["Title"] = "AllAssignedAppointmentsToADoctor";
}

<h1>All Assigned Appointments</h1>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatientId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoctorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfAppointment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppointmentStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppointmentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BriefMessage)
            </th>
           
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoctorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfAppointment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BriefMessage)
            </td>
            <td>
                 <form asp-action="CloseAssignedAppointment" asp-controller="Appointment" method="post">
                    <input type="hidden" name="appointmentId" value="@item.Id" />
                     <input type="submit" value="Close" class="btn btn-primary" />
                 </form>
            </td>
             
        </tr>
}
    </tbody>
</table>
