@model IEnumerable<Dental_lab_Application_MVC_.Models.Dtos.AppointmentDto>

@{
    ViewData["Title"] = "GetAllInitializedAppointment";
}

<h1>Get AllInitialized Appointment</h1>

<p>
    <a asp-action="GetAllInitializedAppointment">Get AllInitialized Appointment</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatientId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoctorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfAppointment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppointmentStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppointmentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BriefMessage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PatientId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoctorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfAppointment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BriefMessage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            
             <td>
                <a asp-action="AssignDoctorToAppointment" asp-controller="Appointment" asp-route-id="@item.Id">Assign</a>
             </td>
        </tr>
}
    </tbody>
</table>
